@import "../common/colors.css";

* {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
  font-weight: 800;
  min-height: 0px;
  border-radius:3px;
}

#window {
  color: @text
}

#bluetooth {
  color: @text
}

/* --- Waybar ---*/
window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: .5s;
}

#waybar > box {
  margin: 0px 0px;
  padding: 1px;
  background-color: @base; 
  border: 1px solid alpha(@highlightMed, 0.3); 
  box-shadow: 
     inset 3px 0 0 0px @iris,
   inset -3px 0 0 0 @gold,
  0px 1px 2px rgba(0, 0, 0, 0.6);
}

/* --- Single Module Config's ---*/
.modules-left,
.modules-right,
.modules-center {
  margin: 0px 2px;
  transition: all 0.2s ease-in-out;
}

.modules-center {
  background-color: @surface;
  box-shadow: inset 0 -3px 0 0 @foam;
  padding: 0 5px;
}

#custom-power {
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 6px;
}

#left1 {
  background-color: @overlay; 
  border-radius: 2px;
}

#left2 {
background-color: @overlay; 
  box-shadow: inset 0 -3px 0 0 @love;
  padding: 0px;
  margin: 0 5px;
}

#left3 {
background-color: @surface; 
  box-shadow: inset 0 -3px 0 0 @pine;
}

#right1 {
  background-color: @surface; 
  box-shadow: inset 0 -3px 0 0 @subtle;
}

#right2 {
  background-color: @overlay; 
}

window#waybar.empty #window {
  background: transparent;
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: transparent;
  padding: 0;
  margin: 0;
}

#workspaces {
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}

#workspaces button {
  color: @subtle;
  padding: 0 8px;
  margin: 2px 2px;
  transition: all 0.2s ease;
  opacity: 0.75;
}

#workspaces button.active {
  color: @love;
}

#workspaces button.empty {
  color: @muted;
  opacity: 0.2;
}

#workspaces button.empty.active {
  color: @rose;
  opacity: 1;
}

#workspaces button:hover {
  background-color: alpha(@highlightMed, 0.5);
  color: @text;
}

#workspaces button.urgent {
  color: @base;
  background-color: @love;
}

/* --- General Modules --- */
#window,
#cpu,
#clock,
#battery,
#network,
#memory,
#backlight,
#bluetooth,
#pulseaudio {
  min-width: 20px;
  margin: 0 2px;
  padding: 0 4px;
}

/* --- Module-Group-Colors --- */
#clock { color: @text; } 
#cpu { color: @rose; } 
#memory { color: @iris; } 
#pulseaudio { color: @love; }
#network { color: @foam; } 
#battery { color: @pine; }
#backlight { color: @gold; }
#idle_inhibitor.activated { color: @gold; }
#idle_inhibitor.deactivated { color: @muted; }
#tray { color: @muted; }

.hidden {
  opacity: 0;
}

tooltip {
  background-color: @base;
  border: 1px solid @highlightHigh;
  border-radius: 3px;
}

tooltip label {
  color: @text;
  padding: 4px;
}

